body {
  margin: 0;
  padding: 0;
  font-family: 'Palanquin', sans-serif;
  color: white
}


*,
*:before,
*:after {
  box-sizing: border-box;

}

#background-video {
  height: 100%;
  
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  background-position: center;
  background-size: 200%;
}

.lineheightnav{
  line-height: 2;
}